<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kos.AACassistant">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="AAC assistant"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppInfo"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.kos.AACassistant.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".DatabaseControl" />
        <activity android:name=".Guide" />
        <activity android:name=".VoiceRecognition" />
        <activity android:name=".SearchFor" />
        <activity android:name=".Search" />
        <activity android:name=".SortingPhrases" />
        <activity android:name=".SortingCategories" />
        <activity android:name=".MainSettings" />
        <activity android:name=".FullScreenView" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditPhraseBox"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Edit"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".AddCurrentPhraseToCategory"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PhraseSettings"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Add"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Delete"
            android:theme="@style/AppTheme.CustomTheme" />
    </application>

</manifest>